/* ---------- Color Module Styles ----------- */

body {
  color: #3b3b3b;
  background: #292929;
}

#page,
#main-wrapper,
.region-primary-menu .menu-item a.is-active,
.region-primary-menu .menu-item--active-trail a {
  background: #fff;
}

.tabs ul.primary li a.is-active {
  background-color: #fff;
}

.tabs ul.primary li.is-active a {
  background-color: #fff;
  border-bottom-color: #fff;
}

#navbar-top {
  background-color: #055a8e;
}

#navbar-main {
  background-color: #1d84c3;
}

a,
.link {
  color: #0071b3;
}

a:hover,
a:focus,
.link:hover,
.link:focus {
  color: #018fe2;
}
.nav-item .dropdown-item a.active {
  color: white;
}
.nav-link {
  color: rgb(231, 231, 231);
}
.nav-link:hover,
.nav-link:focus {
  color: rgb(231, 231, 231);
}
a:active,
.link:active {
  color: #23aeff;
}

.page-item.active .page-link {
  background-color: #0071b3;
  border-color: #0071b3;
}

.page-link,
.page-link:hover {
  color: #0071b3;
}

.sidebar .block {
  background-color: #f6f6f2;
  border-color: #f9f9f9;
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}

.btn-primary:hover,
.btn-primary:focus {
  background-color: #0256b1;
}

.site-footer {
  background: #292929;
}

.region-header,
.region-header a,
.region-header li a.is-active,
.region-header .site-branding__text,
.region-header .site-branding,
.region-header .site-branding__text a,
.region-header .site-branding a,
.region-secondary-menu .menu-item a,
.region-secondary-menu .menu-item a.is-active {
  color: #fffeff;
}


/* ---------- Color Form ----------- */

[dir="rtl"] .color-form .color-palette {
  margin-left: 0;
  margin-right: 20px;
}

[dir="rtl"] .color-form .form-item label {
  float: right;
}

[dir="rtl"] .color-form .color-palette .lock {
  right: -20px;
  left: 0;
}
/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbImNvbG9ycy5jc3MiXSwibmFtZXMiOltdLCJtYXBwaW5ncyI6IkFBQUEsK0NBQStDOztBQUUvQztFQUNFLGNBQWM7RUFDZCxtQkFBbUI7QUFDckI7O0FBRUE7Ozs7RUFJRSxnQkFBZ0I7QUFDbEI7O0FBRUE7RUFDRSxzQkFBc0I7QUFDeEI7O0FBRUE7RUFDRSxzQkFBc0I7RUFDdEIseUJBQXlCO0FBQzNCOztBQUVBO0VBQ0UseUJBQXlCO0FBQzNCOztBQUVBO0VBQ0UseUJBQXlCO0FBQzNCOztBQUVBOztFQUVFLGNBQWM7QUFDaEI7O0FBRUE7Ozs7RUFJRSxjQUFjO0FBQ2hCO0FBQ0E7RUFDRSxZQUFZO0FBQ2Q7QUFDQTtFQUNFLHlCQUF5QjtBQUMzQjtBQUNBOztFQUVFLHlCQUF5QjtBQUMzQjtBQUNBOztFQUVFLGNBQWM7QUFDaEI7O0FBRUE7RUFDRSx5QkFBeUI7RUFDekIscUJBQXFCO0FBQ3ZCOztBQUVBOztFQUVFLGNBQWM7QUFDaEI7O0FBRUE7RUFDRSx5QkFBeUI7RUFDekIscUJBQXFCO0FBQ3ZCOztBQUVBO0VBQ0UseUJBQXlCO0VBQ3pCLHFCQUFxQjtBQUN2Qjs7QUFFQTs7RUFFRSx5QkFBeUI7QUFDM0I7O0FBRUE7RUFDRSxtQkFBbUI7QUFDckI7O0FBRUE7Ozs7Ozs7OztFQVNFLGNBQWM7QUFDaEI7OztBQUdBLHNDQUFzQzs7QUFFdEM7RUFDRSxjQUFjO0VBQ2Qsa0JBQWtCO0FBQ3BCOztBQUVBO0VBQ0UsWUFBWTtBQUNkOztBQUVBO0VBQ0UsWUFBWTtFQUNaLE9BQU87QUFDVCIsImZpbGUiOiJjb2xvcnMuY3NzIiwic291cmNlc0NvbnRlbnQiOlsiLyogLS0tLS0tLS0tLSBDb2xvciBNb2R1bGUgU3R5bGVzIC0tLS0tLS0tLS0tICovXG5cbmJvZHkge1xuICBjb2xvcjogIzNiM2IzYjtcbiAgYmFja2dyb3VuZDogIzI5MjkyOTtcbn1cblxuI3BhZ2UsXG4jbWFpbi13cmFwcGVyLFxuLnJlZ2lvbi1wcmltYXJ5LW1lbnUgLm1lbnUtaXRlbSBhLmlzLWFjdGl2ZSxcbi5yZWdpb24tcHJpbWFyeS1tZW51IC5tZW51LWl0ZW0tLWFjdGl2ZS10cmFpbCBhIHtcbiAgYmFja2dyb3VuZDogI2ZmZjtcbn1cblxuLnRhYnMgdWwucHJpbWFyeSBsaSBhLmlzLWFjdGl2ZSB7XG4gIGJhY2tncm91bmQtY29sb3I6ICNmZmY7XG59XG5cbi50YWJzIHVsLnByaW1hcnkgbGkuaXMtYWN0aXZlIGEge1xuICBiYWNrZ3JvdW5kLWNvbG9yOiAjZmZmO1xuICBib3JkZXItYm90dG9tLWNvbG9yOiAjZmZmO1xufVxuXG4jbmF2YmFyLXRvcCB7XG4gIGJhY2tncm91bmQtY29sb3I6ICMwNTVhOGU7XG59XG5cbiNuYXZiYXItbWFpbiB7XG4gIGJhY2tncm91bmQtY29sb3I6ICMxZDg0YzM7XG59XG5cbmEsXG4ubGluayB7XG4gIGNvbG9yOiAjMDA3MWIzO1xufVxuXG5hOmhvdmVyLFxuYTpmb2N1cyxcbi5saW5rOmhvdmVyLFxuLmxpbms6Zm9jdXMge1xuICBjb2xvcjogIzAxOGZlMjtcbn1cbi5uYXYtaXRlbSAuZHJvcGRvd24taXRlbSBhLmFjdGl2ZSB7XG4gIGNvbG9yOiB3aGl0ZTtcbn1cbi5uYXYtbGluayB7XG4gIGNvbG9yOiByZ2IoMjMxLCAyMzEsIDIzMSk7XG59XG4ubmF2LWxpbms6aG92ZXIsXG4ubmF2LWxpbms6Zm9jdXMge1xuICBjb2xvcjogcmdiKDIzMSwgMjMxLCAyMzEpO1xufVxuYTphY3RpdmUsXG4ubGluazphY3RpdmUge1xuICBjb2xvcjogIzIzYWVmZjtcbn1cblxuLnBhZ2UtaXRlbS5hY3RpdmUgLnBhZ2UtbGluayB7XG4gIGJhY2tncm91bmQtY29sb3I6ICMwMDcxYjM7XG4gIGJvcmRlci1jb2xvcjogIzAwNzFiMztcbn1cblxuLnBhZ2UtbGluayxcbi5wYWdlLWxpbms6aG92ZXIge1xuICBjb2xvcjogIzAwNzFiMztcbn1cblxuLnNpZGViYXIgLmJsb2NrIHtcbiAgYmFja2dyb3VuZC1jb2xvcjogI2Y2ZjZmMjtcbiAgYm9yZGVyLWNvbG9yOiAjZjlmOWY5O1xufVxuXG4uYnRuLXByaW1hcnkge1xuICBiYWNrZ3JvdW5kLWNvbG9yOiAjMDA3YmZmO1xuICBib3JkZXItY29sb3I6ICMwMDdiZmY7XG59XG5cbi5idG4tcHJpbWFyeTpob3Zlcixcbi5idG4tcHJpbWFyeTpmb2N1cyB7XG4gIGJhY2tncm91bmQtY29sb3I6ICMwMjU2YjE7XG59XG5cbi5zaXRlLWZvb3RlciB7XG4gIGJhY2tncm91bmQ6ICMyOTI5Mjk7XG59XG5cbi5yZWdpb24taGVhZGVyLFxuLnJlZ2lvbi1oZWFkZXIgYSxcbi5yZWdpb24taGVhZGVyIGxpIGEuaXMtYWN0aXZlLFxuLnJlZ2lvbi1oZWFkZXIgLnNpdGUtYnJhbmRpbmdfX3RleHQsXG4ucmVnaW9uLWhlYWRlciAuc2l0ZS1icmFuZGluZyxcbi5yZWdpb24taGVhZGVyIC5zaXRlLWJyYW5kaW5nX190ZXh0IGEsXG4ucmVnaW9uLWhlYWRlciAuc2l0ZS1icmFuZGluZyBhLFxuLnJlZ2lvbi1zZWNvbmRhcnktbWVudSAubWVudS1pdGVtIGEsXG4ucmVnaW9uLXNlY29uZGFyeS1tZW51IC5tZW51LWl0ZW0gYS5pcy1hY3RpdmUge1xuICBjb2xvcjogI2ZmZmVmZjtcbn1cblxuXG4vKiAtLS0tLS0tLS0tIENvbG9yIEZvcm0gLS0tLS0tLS0tLS0gKi9cblxuW2Rpcj1cInJ0bFwiXSAuY29sb3ItZm9ybSAuY29sb3ItcGFsZXR0ZSB7XG4gIG1hcmdpbi1sZWZ0OiAwO1xuICBtYXJnaW4tcmlnaHQ6IDIwcHg7XG59XG5cbltkaXI9XCJydGxcIl0gLmNvbG9yLWZvcm0gLmZvcm0taXRlbSBsYWJlbCB7XG4gIGZsb2F0OiByaWdodDtcbn1cblxuW2Rpcj1cInJ0bFwiXSAuY29sb3ItZm9ybSAuY29sb3ItcGFsZXR0ZSAubG9jayB7XG4gIHJpZ2h0OiAtMjBweDtcbiAgbGVmdDogMDtcbn1cbiJdfQ== */