/* Fonts */
@mixin H1() {
  font-weight: var(--commonFontSemiBoldWeight);
  font-size: var(--size-xxxxxl);
  line-height: 75px;
  @media screen and (max-width: 992px) {
    font-size: var(--size-xxxxl);
    line-height: 60px;
  }
}
@mixin H2() {
  font-weight: var(--commonFontBoldWeight);
  font-size: var(--size-xxxxl);
  line-height: 45px;
  @media screen and (max-width: 992px) {
    font-size: var(--size-xxxl);
    line-height: 40px;
  }
}
@mixin H3() {
  font-weight: var(--commonFontRegularWeight);
  font-size: var(--size-xxxl);
  line-height: 40px;
  @media screen and (max-width: 992px) {
    font-size: var(--size-xxl);
    line-height: 35px;
  }
}
@mixin H4() {
  font-weight: var(--commonFontRegularWeight);
  font-size: var(--size-xxl);
  line-height: 35px;
  @media screen and (max-width: 992px) {
    font-size: var(--size-xl);
    line-height: 30px;
  }
}
@mixin H5() {
  font-weight: var(--commonFontRegularWeight);
  font-size: var(--size-xl);
  line-height: 27px;
}

@mixin title-section {
  font-weight: var(--commonFontSemiBoldWeight);
  font-size: var(--size-xxl);
  line-height: 35px;
  @media screen and (max-width: 992px) {
    font-size: var(--size-xl);
    line-height: 30px;
  }
}

@mixin subtitle {
  font-size: var(--size-xlg);
  font-weight: var(--commonFontRegularWeight);
}
@mixin body-large {
  font-size: var(--size-lg);
  font-weight: var(--commonFontRegularWeight);
}
@mixin body-regular {
  font-size: var(--size-md);
  font-weight: var(--commonFontRegularWeight);
  line-height: 22px;
}
@mixin body-small {
  font-size: var(--size-sm);
  font-weight: var(--commonFontRegularWeight);
  line-height: 22px;
}
